.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    margin: 0 auto;  
}
ul {
    padding-left: 30px;
   }
.gameInfo {
    margin-left: 20px;
}
.status {
    margin-bottom: 10px;
}
a{
	text-decoration: none;
	color: black;
}


.info{
    margin-top: 10%;
    font-size: 50px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.title{
    font-family: Helvetica, sans-serif;
    font-size: 70px;
    margin-top: 5%;
}

.homeBtn{
    border: none;
    border-radius: 50%;
    width: auto;
    padding-top: 1%;
	text-decoration: none;
}
.container {
	text-align: center;
	width: 300px;
	margin: 0 auto;
    margin-top: 22%;
	cursor: pointer;
}

.newGame{
    font-family: Helvetica, sans-serif;
	font-weight: 100;
    color: #fff;
    margin-top: 5%;
	height: 50px;
	width: 100%;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	overflow: hidden;
	box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
	z-index: -2;
}

.fill {

	background-image: linear-gradient(to right, #000000, #858585);
	background-size: 150% 150%;
	height: 150px;
	width: 720px;
	border-radius: 5px;
	margin: -70px 0 0 -140px;
	z-index: -1;
	transition: all 0.4s ease;
}

.container:hover .fill {
	-webkit-animation: gradient 3s ease infinite;
	-moz-animation: gradient 3s ease infinite;
	animation: gradient 3s ease infinite;
}
.btnText{
    margin-top: 3.5%;
    font-family: Helvetica, sans-serif;
}


@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}